﻿*
{
     margin: 0;
}

body {
    font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
    background-color: #084887;
}

body a:link {
    color: #084887;
    text-decoration: none;
} 

.container { 
    
}

.header {      
    min-height: 100px;
    width: 100%;
    display: block;
    background-color: #909cc2;
    color: #f7f5fb;    
}

.title {
    font-family: Courier New, Courier, monospace;
    font-variant: small-caps;
    font-size: 30pt;
    cursor: pointer;
}

.sidebar {
    float: left;
    width: 10%;
    overflow: hidden;    
    background-color: #909cc2;
    color: #f7f5fb;
    min-height: 900px;
    max-width:10%;    
    font-size: 15pt;
    height:100%;
}
.links  { 
    margin-left: 6px;
}
.sidebar hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: dotted;
    border-width: 1px;
    border-color: #084887;
    width: 90%;
}

.footer {
    color: #f9ab55;
}

.content-body {   
    background-color: #f7f5fb;
    color: #084887;
    min-height:900px;
    float:right;
    width:90%;
    text-align: center;
    font-size: 30pt;
}
.signin-form {
    max-width: 90%;
    font-size: 8pt;
    margin-left: 6px;
}
.signin-form h1 {
    font-size: 8pt;
    margin-top: 5px;
}

.signin-form input {
    max-width: 90%;
    margin-top: 5px;
    border: none;
}

.signin-form ul { 
    list-style: none;
    margin-left: -40px;
}

.button_text {
    background-color: #f7f5fb;
    color: #084887;
    border: none;
    padding: 10px;
}

.signup-form {        
    width: 400px;
    margin-left:660px;
    margin-top: 20px;
}
.content-body ul { 
    list-style: none;
}

.content-body input {
    height: 50px;
    width: 100%;
    border: none;
    background-color: #909cc2;
    color: #f7f5fb;
    font-size: 20pt;
    margin-top: 20px;
    width:30%;
}

.content-body .button_text {
    width: auto;
    background-color: #084887;
    color: #f7f5fb;
    margin-top: 40px;
    font-size: 20pt;
    height: 70px;
}